.displays {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.display {
    float: left;
    width: 48%;
}

.display-title {
    text-align: center;
    font-weight: bold;
}

.display-controls {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.display-control {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
}

.tooltip {	
    position: absolute;			
    text-align: center;			
    width: auto;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 2px;			
    pointer-events: none;			
}