.topbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
}

.topbar-inner {
    margin: 5px;
}

.topbar-right {
    float: right;
}

.display {
    float: left;
}

.display-left {
    margin-right: 20px;
}

.display-right {
    margin-left: 20px;
}

.display-title {
    text-align: center;
    font-weight: bold;
}

.display-controls {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.display-control {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tooltip {	
    position: absolute;			
    text-align: center;			
    width: auto;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 2px;			
    pointer-events: none;			
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}