@import './topbar.css';
@import './displays.css';

html {
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

body {
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
}

