.topbar {
    margin: 5px 5px auto 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.topbar-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;    
}

.topbar-control {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

