.topbar {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.topbar-control {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

